@model POISchedule.Data.Entities.ClassroomType

@{
    ViewData["Title"] = "Details Classroom Type";
}

<h2>Details Classroom Type</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
    <a asp-action="Index" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
