@model POISchedule.Data.Entities.Activity

@{
    ViewData["Title"] = "Details Activity";
}

<h2>Details Activity</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
    <a asp-action="Index" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
